body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation:
    fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.88em;
  --top-offset: 79.54vh;
  --fall-duration: 10.327s;
  --fall-delay: 5.869s;
}
.star:nth-child(2) {
  --star-tail-length: 6.48em;
  --top-offset: 34.17vh;
  --fall-duration: 7.311s;
  --fall-delay: 9.986s;
}
.star:nth-child(3) {
  --star-tail-length: 5.43em;
  --top-offset: 15.61vh;
  --fall-duration: 6.605s;
  --fall-delay: 1.872s;
}
.star:nth-child(4) {
  --star-tail-length: 5.37em;
  --top-offset: 32.46vh;
  --fall-duration: 8.933s;
  --fall-delay: 7.449s;
}
.star:nth-child(5) {
  --star-tail-length: 6.01em;
  --top-offset: 76.23vh;
  --fall-duration: 11.164s;
  --fall-delay: 5.274s;
}
.star:nth-child(6) {
  --star-tail-length: 6.55em;
  --top-offset: 42.91vh;
  --fall-duration: 9.685s;
  --fall-delay: 3.498s;
}
.star:nth-child(7) {
  --star-tail-length: 6.63em;
  --top-offset: 88.16vh;
  --fall-duration: 10.588s;
  --fall-delay: 4.518s;
}
.star:nth-child(8) {
  --star-tail-length: 5.03em;
  --top-offset: 16.29vh;
  --fall-duration: 6.508s;
  --fall-delay: 2.519s;
}
.star:nth-child(9) {
  --star-tail-length: 5.57em;
  --top-offset: 88.71vh;
  --fall-duration: 7.722s;
  --fall-delay: 6.19s;
}
.star:nth-child(10) {
  --star-tail-length: 7.11em;
  --top-offset: 6.41vh;
  --fall-duration: 8.651s;
  --fall-delay: 4.592s;
}
.star:nth-child(11) {
  --star-tail-length: 5.49em;
  --top-offset: 75.38vh;
  --fall-duration: 8.962s;
  --fall-delay: 0.418s;
}
.star:nth-child(12) {
  --star-tail-length: 6.44em;
  --top-offset: 23.99vh;
  --fall-duration: 7.833s;
  --fall-delay: 9.591s;
}
.star:nth-child(13) {
  --star-tail-length: 5.78em;
  --top-offset: 66vh;
  --fall-duration: 6.95s;
  --fall-delay: 7.375s;
}
.star:nth-child(14) {
  --star-tail-length: 7.37em;
  --top-offset: 24.3vh;
  --fall-duration: 8.249s;
  --fall-delay: 7.118s;
}
.star:nth-child(15) {
  --star-tail-length: 5.71em;
  --top-offset: 36.9vh;
  --fall-duration: 7.698s;
  --fall-delay: 2.692s;
}
.star:nth-child(16) {
  --star-tail-length: 6.75em;
  --top-offset: 60.63vh;
  --fall-duration: 8.892s;
  --fall-delay: 3.04s;
}
.star:nth-child(17) {
  --star-tail-length: 6em;
  --top-offset: 16.33vh;
  --fall-duration: 11.44s;
  --fall-delay: 7.415s;
}
.star:nth-child(18) {
  --star-tail-length: 5.8em;
  --top-offset: 69.75vh;
  --fall-duration: 7.295s;
  --fall-delay: 0.427s;
}
.star:nth-child(19) {
  --star-tail-length: 5.72em;
  --top-offset: 63.36vh;
  --fall-duration: 10.412s;
  --fall-delay: 7.078s;
}
.star:nth-child(20) {
  --star-tail-length: 6.87em;
  --top-offset: 77.22vh;
  --fall-duration: 11.946s;
  --fall-delay: 3.099s;
}
.star:nth-child(21) {
  --star-tail-length: 5.24em;
  --top-offset: 37.88vh;
  --fall-duration: 11.731s;
  --fall-delay: 2.081s;
}
.star:nth-child(22) {
  --star-tail-length: 6.85em;
  --top-offset: 88.39vh;
  --fall-duration: 10.01s;
  --fall-delay: 4.939s;
}
.star:nth-child(23) {
  --star-tail-length: 5.7em;
  --top-offset: 89.38vh;
  --fall-duration: 9.268s;
  --fall-delay: 9.764s;
}
.star:nth-child(24) {
  --star-tail-length: 7.2em;
  --top-offset: 10.29vh;
  --fall-duration: 7.311s;
  --fall-delay: 3.267s;
}
.star:nth-child(25) {
  --star-tail-length: 5.07em;
  --top-offset: 45.26vh;
  --fall-duration: 8.935s;
  --fall-delay: 5.49s;
}
.star:nth-child(26) {
  --star-tail-length: 5.81em;
  --top-offset: 46.85vh;
  --fall-duration: 10.625s;
  --fall-delay: 5.206s;
}
.star:nth-child(27) {
  --star-tail-length: 5.14em;
  --top-offset: 66.47vh;
  --fall-duration: 10.315s;
  --fall-delay: 9.959s;
}
.star:nth-child(28) {
  --star-tail-length: 7.15em;
  --top-offset: 74.04vh;
  --fall-duration: 8.159s;
  --fall-delay: 4.036s;
}
.star:nth-child(29) {
  --star-tail-length: 6.79em;
  --top-offset: 93.99vh;
  --fall-duration: 8.409s;
  --fall-delay: 6.683s;
}
.star:nth-child(30) {
  --star-tail-length: 7.47em;
  --top-offset: 31.64vh;
  --fall-duration: 8.901s;
  --fall-delay: 0.561s;
}
.star:nth-child(31) {
  --star-tail-length: 7.49em;
  --top-offset: 18.57vh;
  --fall-duration: 9.446s;
  --fall-delay: 5.145s;
}
.star:nth-child(32) {
  --star-tail-length: 5.08em;
  --top-offset: 42.21vh;
  --fall-duration: 11.876s;
  --fall-delay: 0.945s;
}
.star:nth-child(33) {
  --star-tail-length: 5.81em;
  --top-offset: 13.92vh;
  --fall-duration: 8.584s;
  --fall-delay: 5.552s;
}
.star:nth-child(34) {
  --star-tail-length: 6.31em;
  --top-offset: 69.13vh;
  --fall-duration: 8.913s;
  --fall-delay: 6.977s;
}
.star:nth-child(35) {
  --star-tail-length: 6.77em;
  --top-offset: 49.61vh;
  --fall-duration: 6.77s;
  --fall-delay: 2.602s;
}
.star:nth-child(36) {
  --star-tail-length: 5.23em;
  --top-offset: 83.52vh;
  --fall-duration: 9.314s;
  --fall-delay: 0.705s;
}
.star:nth-child(37) {
  --star-tail-length: 5.28em;
  --top-offset: 19.02vh;
  --fall-duration: 7.023s;
  --fall-delay: 1.618s;
}
.star:nth-child(38) {
  --star-tail-length: 7.18em;
  --top-offset: 79.02vh;
  --fall-duration: 9.204s;
  --fall-delay: 9.074s;
}
.star:nth-child(39) {
  --star-tail-length: 6.76em;
  --top-offset: 6.15vh;
  --fall-duration: 10.765s;
  --fall-delay: 9.564s;
}
.star:nth-child(40) {
  --star-tail-length: 7.08em;
  --top-offset: 23.04vh;
  --fall-duration: 9.75s;
  --fall-delay: 9.772s;
}
.star:nth-child(41) {
  --star-tail-length: 5.38em;
  --top-offset: 57.4vh;
  --fall-duration: 9.111s;
  --fall-delay: 4.248s;
}
.star:nth-child(42) {
  --star-tail-length: 7.17em;
  --top-offset: 22.92vh;
  --fall-duration: 11.629s;
  --fall-delay: 6.112s;
}
.star:nth-child(43) {
  --star-tail-length: 6.16em;
  --top-offset: 44.37vh;
  --fall-duration: 8.403s;
  --fall-delay: 6.496s;
}
.star:nth-child(44) {
  --star-tail-length: 6.13em;
  --top-offset: 10.55vh;
  --fall-duration: 7.235s;
  --fall-delay: 0.661s;
}
.star:nth-child(45) {
  --star-tail-length: 6.71em;
  --top-offset: 86.57vh;
  --fall-duration: 10.481s;
  --fall-delay: 9.889s;
}
.star:nth-child(46) {
  --star-tail-length: 5.04em;
  --top-offset: 35.6vh;
  --fall-duration: 10.534s;
  --fall-delay: 5.577s;
}
.star:nth-child(47) {
  --star-tail-length: 5.67em;
  --top-offset: 60.1vh;
  --fall-duration: 9.722s;
  --fall-delay: 4.523s;
}
.star:nth-child(48) {
  --star-tail-length: 6.65em;
  --top-offset: 51.37vh;
  --fall-duration: 7.714s;
  --fall-delay: 5.934s;
}
.star:nth-child(49) {
  --star-tail-length: 6.65em;
  --top-offset: 51.93vh;
  --fall-duration: 10.62s;
  --fall-delay: 6.783s;
}
.star:nth-child(50) {
  --star-tail-length: 5.91em;
  --top-offset: 57.7vh;
  --fall-duration: 10.1s;
  --fall-delay: 7.534s;
}
.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
